 <% title "Body Mass Index" %>

<%= @body_mass_index %>
<div class="calculator_content">
	<p>Enter your height in feet and inches, then enter your weight (lbs.) to calculate your BMI. </p>
	<% form_tag({:controller  => 'calculators', :action  =>  'bmi'}, :method  => 'post', :id  => 'bmi_form', :class  => 'calculators') do %>
  
		<p><%= label_tag("Feet:") %>
		<%= text_field_tag(:feet) %></p>	  
		<p><%= label_tag("Inches:") %>
		<%= text_field_tag(:inches) %></p>
		<p><%= label_tag("Weight:") %>
	  <%= text_field_tag(:weight) %></p>
	  <p><%= submit_tag("Calculate") %></p>
	
	<% end %>

</div>

<div class="calculated_results">
	
</div>