<% title "Login" %>
<h2>Welcome Express Health Participant or Wellness Director</h2>
<p>Express Health, a division of Spectrum Health Systems, is here to guide you every step of the way.  Our helpful and well-trained staff is excited to start your wellness journey with you.  Let's get started!</p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %>
<%= f.text_field :email %> 
  </p>

  <p><%= f.label :password %>
  <%= f.password_field :password %> </p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.label :remember_me %>
    <%= f.check_box :remember_me %> </p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>